@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;400;500;600;700&display=swap');
html {
    font-size: 16px;
    font-family: 'Libre Franklin', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: white;
}

/* nav bar */

.nav-container {
    background-color: hsla(291, 16%, 60%, .5);
    width: 100%;
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1;
}

.nav-logo {
    font-size: 1.35rem;
    font-weight: 500;
    margin-left: 5rem;
}

.short-logo {
    display: none;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 3.75rem;
    font-size: 1.35rem;
    font-weight: 500;
}

nav li {
    padding: 0rem 1.25em;
    list-style-type: none;
}

 @media only screen and (max-width: 1024px) {
    nav li {
        padding: 0 1rem;
    }
}

@media only screen and (max-width: 750px) {
    .nav-container {
        height: 4rem;
    }

    .nav-logo {
        margin-left: 2.5rem;
    }

    .nav {
        margin-right: 1.25rem ;
    }

    .short-logo {
        display: block;
    }

    .long-logo {
        display: none;
    }
}

/* Banner */

.banner {
    background-color: #A589AA;
    width: 100%;
    height: 40rem;
    padding-top: 6rem;
    display: flex;    
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.intro {
    width: 40rem;
    font-size: 1.5rem;
    margin-right: 2.5rem;
}

.intro h3 {
    padding: 1rem 0;
}

.img {
    margin-left: 2.5rem;
}

.img img {
    height: 20rem;
    border-radius: 30%;
}

@media only screen and (max-width: 1024px) {
    .banner {
        flex-direction: column-reverse;
    }

    .intro {
        font-size: 1.25rem;
        text-align: center;
        margin-right: 0;
    }

    .img {
        margin-bottom: 2rem;
        margin-left: 0;
    }
}

@media only screen and (max-width: 750px) {
    .img img {
        height: 15rem;
    }

    .intro {
        font-size: 1rem;
        width: 30rem;
    }
}

/* PROJECTS SECTION  */

.project {
    display:flex;
    flex-direction: column;
}

.project img {
    width: 100%;
    height: 100%;
}

.project1 {
    display: flex;
    flex: row;
}

.project-name {
    height: 15rem;
}

.project-name p {
    text-align: center;
    color: #A589AA;
    font-size: 3.5rem;
    width: 100%;
    padding: 5.25rem 0;
}


@media only screen and (max-width: 1024px) {
    .project1 {
        flex-direction: column;
        align-items: center;
    }

    .project-container {
        width: 80%;
        height: 80%;
        padding: 4rem 0;
    }

    .container-start {
        padding-top: 0;
    }

    .container-end {
        padding-bottom: 0;
    }

}

/* About me */

.about-me {
    width: 100%;
    height: 35rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-me-container {
    background-color: #A589AA;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height:20rem;
    width: 60rem;
}

.welcome {
    font-size: 3rem;
}

.welcome-para {
    font-size: 1.3rem;
    padding: 1rem 5rem 2rem;
}

@media only screen and (max-width: 1024px) {
    .about-me {
        height: 35rem;
    }

    .about-me-container {
        width: 40rem;
        height: 25rem;
    }

    .welcome {
        font-size: 2.5rem;
    }

    .welcome-para {
        font-size: 1.2rem;
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }
}

@media only screen and (max-width: 750px) {
    .about-me-container {
        width: 35rem;
        margin: 0 1rem;
    }
}

/* Contact Info */

.contact-container {
    border: 1px solid hsla(291, 16%, 60%, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50rem;
    background-image: url("/Users/biancaosborn/Desktop/codecademy/portfolio_project/Resources/images/purp-imgs.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.lets-chat {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    height: 25rem;
    width: 45rem;
    margin-left: 2rem;
}

.lets-chat p {
    color: black;
}

.lets-chat1 {
    font-size: 3.5rem;
    padding-bottom: 1rem;
    font-weight: 600;
    width: 100%;
}

.chat1 {}

.email {
    background-color: #eee2f1;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    width: 22rem;
    font-weight: 400;
}

.email img {
    height: 3rem;
    width: 3rem;
    padding-right: .75rem;
}

.lets-create {
    width: 100%;
    font-weight: 500;
    font-size: 1.25rem;
}

.form-section {
    border: 1px solid hsla(291, 16%, 60%, .5);
    background-color: white;
    border-radius: 1.5rem;
    padding: 1.5rem;
    height: 30rem;
    max-width: 30rem;
    min-width: 25rem;
    width: 30%;
    margin-right: 2rem;
}

.form-section form {
    display: flex;
    flex-direction: column;
}

.form-section p {
    color: black;
    font-weight: 500;
    font-size: 1.75rem;
    padding-bottom: 1rem;
}

.form-section label {
   color: black;
   font-weight: 500;
   padding: 1rem 0;
}

.form-section input {
    margin: .5rem 0;
    color: black;
    height: 2rem;
    border-radius: .3rem;
    background-color: #eee2f1;
}

#submit-button {
    background-color: #A589AA;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    width: 10rem;
    height: 3rem;
    border-radius: .5rem;
}

.input-text {
    font-size: 1.25rem;
    padding-left: .5rem;
}

.project-text {
    color: black;
    font-size: 1.25rem;
    padding-left: .5rem; 
    padding-top: .25rem;
    color: black;
    height: 7rem;
    max-height: 10rem;
    min-height: 7rem;
    border-radius: .3rem;
    background-color: #eee2f1;
    max-width: 29rem;
}

@media only screen and (max-width: 1024px) {
    .contact-container {
        flex-direction: column;
    }

    .lets-chat1 {
        display: none;
    }

    .lets-chat {
        height: 10rem;
        width: 100%;
        margin: 0;
    }

    .lets-create {
        font-size: 2.5rem;
        text-align: center;
    }

    .email {
        display: none;
    }

    .form-section p {
        font-size: 1.5rem;
    }

}

@media only screen and (max-width: 750px) {
    .lets-create {
        font-size: 2rem;
    }
}

/* Footer */

.footer-container {
    background-color: white;
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-img-container {
    display: flex;
    justify-content: center;
    padding: .5rem 0;
}

.footer-img-container img {
    border: .1rem solid hsla(291, 16%, 60%, .5);
    border-radius: 2rem;
    height: 2rem;
    width: 2rem;
    padding: 0 .25rem;
    margin: 0 1rem;
}

.footer-nav{
    display: flex;
    justify-content: center;
    padding: .5rem 0;

}

.footer-nav a{
    color: black;
    margin: 2rem;
}

.footer-copyright {
    display: flex;
    justify-content: center;
    padding: .5rem 0;

}

.footer-copyright p {
    color: grey;
    font-size: .75rem;
}