@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;400;500;600;700&display=swap');
html {
    font-size: 16px;
    font-family: 'Libre Franklin', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: white;
}

/* nav bar */

.content {
    background-color: #A589AA;
    width: 100%;
    height: 6rem;
    font-size: 1.35rem;
    font-weight: 500;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 1rem;
}

nav li {
    padding: 0rem 1.25em;
    list-style-type: none;
    }

/* Banner */

.banner {
    background-color: #A589AA;
    width: 100%;
    height: 30rem;
}

.intro {
    width: 55rem;
    font-size: 1.75rem;
}

.img img {
    height: 20rem;
    border-radius: 5rem;
    z-index: 1;
}

.banner-flex {
    display: flex;    
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

/* PROJECTS SECTION  */

.project {
    display:flex;
    flex-direction: column;
}

.project img {
    width: 100%;
    height: 100%;
}

.project1 {
    display: flex;
    flex: row;
}

.project-name {
    height: 15rem;
}

.project-name p {
    text-align: center;
    color: #A589AA;
    font-size: 3.5rem;
    width: 100%;
    padding: 5.25rem 0;
}

/* About me */

.about-me {
    width: 100%;
    height: 35rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-me-container {
    background-color: #A589AA;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height:20rem;
    width: 60rem;
}

.welcome {
    font-size: 3rem;
}

.welcome-para {
    font-size: 1.3rem;
    padding: 1rem 5rem 2rem;
}

/* Contact Info */

.contact-container {
    border: 3px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50rem;
    background-image: url("/Users/biancaosborn/Desktop/codecademy/portfolio_project/Resources/images/purp-imgs.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.lets-chat {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    height: 25rem;
    width: 35rem;
}

.lets-chat p {
    color: black;
}
.lets-chat1 {
    font-size: 3.5rem;
    padding-bottom: 1rem;
    font-weight: 600;
    width: 100%;
}

.email {
    background-color: #eee2f1;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    width: 22rem;
    font-weight: 400;
}

.email img {
    height: 3rem;
    width: 3rem;
    padding-right: .75rem;
}

.lets-create {
    width: 100%;
    font-weight: 500;
    font-size: 1.25rem;
}

.form-section {
    border: 1px solid hsla(291, 16%, 60%, .5);
    background-color: white;
    border-radius: 1.5rem;
    padding: 1.5rem;
    height: 30rem;
    width: 30rem;
    margin-left: 10rem;
}

.form-section form {
    display: flex;
    flex-direction: column;
}

.form-section p {
    color: black;
    font-weight: 500;
    font-size: 1.75rem;
    padding-bottom: 1rem;
}

.form-section label {
   color: black;
   font-weight: 500;
   padding: 1rem 0;
}

.form-section input {
    margin: .5rem 0;
    color: black;
    height: 2rem;
    border-radius: .3rem;
    background-color: #eee2f1;
}

#submit-button {
    background-color: #A589AA;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    width: 10rem;
    height: 3rem;
    border-radius: .5rem;
}

.input-text {
    font-size: 1.25rem;
    padding-left: .5rem;
}

.project-text {
    color: black;
    font-size: 1.25rem;
    padding-left: .5rem; 
    padding-top: .25rem;
    color: black;
    height: 7rem;
    border-radius: .3rem;
    background-color: #eee2f1;
}